/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form-control {
  height: 4rem;
  outline: none;
  color: #0a0a0a;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.9rem 0.8rem;
  background-color: #fefefe;
  border: 1px solid #cacaca;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form-control:focus {
  outline: none;
  border-color: #0c7c9d;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-label {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0 0 0.4rem 0;
  color: #888;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-check {
  padding-left: 2rem;
}
.form-check .form-check-input {
  top: 0.4rem;
  margin-left: -2rem;
}

.btn_main {
  color: #fff;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  padding: 1.4rem 1.6rem;
  background-color: #0e96be;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_main i {
  margin-left: 0.5rem;
}
.btn_main:hover {
  color: #fff;
  background-color: #237d97;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn_main:focus {
  outline: navajowhite;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn_main:active {
  background-color: #50a9c3;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.hide_xs {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2D2926;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.5625;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  color: #0c7c9d;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 4rem;
  }
}

h2, .h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #0c7c9d;
  font-family: "Open Sans", Arial, sans-serif;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2.8rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  outline: none;
  color: #c4d836;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #c4d836;
  text-decoration: underline;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  position: fixed;
  background: #064051;
}
.header .header_logo {
  z-index: 10;
  width: 115px;
  display: block;
  margin-left: 15px;
  position: relative;
  padding: 9px 0 8px 0;
}
.header .header_nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  padding: 55px 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(5, 62, 80, 0.95);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header .header_nav > ul {
  width: 100%;
  margin: auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.header .header_nav > ul > li {
  position: relative;
}
.header .header_nav > ul > li > a {
  color: #fff;
  width: 100%;
  font-weight: 500;
  padding: 1.5rem 0;
  font-size: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.header .header_nav > ul > li > a i {
  display: none;
}
.header .header_nav .header_nav_dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.header .header_nav .header_nav_dropdown > li > a {
  color: #fff;
  width: 100%;
  font-weight: 500;
  padding: 1.5rem 0;
  font-size: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.header .header_nav .nav_desktop_only {
  display: none;
}
.header .header_toggle {
  width: 7rem;
  z-index: 1000;
  height: 5.5rem;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
  padding: 1.8rem 2.3rem 1.4rem 2.3rem;
}
.header .header_toggle > span {
  opacity: 1;
  height: 3px;
  width: 100%;
  display: block;
  background: #fff;
  margin-bottom: 5px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .header_toggle > span:nth-child(3) {
  margin-bottom: 0;
}
.header.open_nav .header_nav {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header.open_nav .header_nav > ul > li {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.header.open_nav .header_nav > ul > li:nth-child(1) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.header.open_nav .header_nav > ul > li:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.header.open_nav .header_nav > ul > li:nth-child(3) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.header.open_nav .header_nav > ul > li:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.header.open_nav .header_nav > ul > li:nth-child(5) {
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
.header.open_nav .header_nav > ul > li:nth-child(6) {
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
.header.open_nav .header_toggle > span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.open_nav .header_toggle > span:nth-child(1) {
  top: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.open_nav .header_toggle > span:nth-child(2) {
  display: none;
}
.header.open_nav .header_toggle > span:nth-child(3) {
  top: -4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .header {
    background: transparent;
    height: auto;
  }
  .header .header_logo {
    width: 175px;
    height: 85px;
    padding: 14px 0 13px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header .header_nav {
    padding: 3.1rem 0 0 0;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    opacity: 1;
    display: block;
    visibility: visible;
    overflow: inherit;
    position: relative;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header .header_nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header_nav > ul > li > a {
    width: auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.7rem 1.4rem;
  }
  .header .header_nav > ul > li > a i {
    margin-left: 0.7rem;
    display: inline-block;
  }
  .header .header_nav > ul > li > a:hover {
    color: #c4d836;
  }
  .header .header_nav > ul > li.active > a {
    color: #c4d836;
  }
  .header .header_nav > ul > li:hover > a {
    color: #c4d836;
  }
  .header .header_nav > ul > li:hover .header_nav_dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .header .header_nav .header_nav_dropdown {
    left: 50%;
    margin-left: -60px;
    right: auto;
    display: block;
    top: 100%;
    width: 120px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .header .header_nav .header_nav_dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(5, 62, 80, 0.9);
    left: 50px;
    top: -8px;
  }
  .header .header_nav .header_nav_dropdown > li {
    background: rgba(5, 62, 80, 0.9);
  }
  .header .header_nav .header_nav_dropdown > li > a {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.8rem 1.5rem;
  }
  .header .header_nav .header_nav_dropdown > li > a:hover {
    color: #c4d836;
  }
  .header .header_nav .header_nav_dropdown > li.active > a {
    color: #c4d836;
  }
  .header .header_nav .header_nav_dropdown > li:first-child > a {
    padding-top: 1rem;
  }
  .header .header_nav .header_nav_dropdown > li:last-child > a {
    padding-bottom: 1rem;
  }
  .header .header_nav .nav_desktop_only {
    display: block;
  }
  .header .header_toggle {
    display: none;
  }
  .header.fix_top {
    background-color: rgba(5, 62, 80, 0.9);
  }
  .header.fix_top .header_logo {
    width: 125px;
    height: 65px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header.fix_top .header_nav {
    padding-top: 0.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header.fix_top .header_nav .header_nav_dropdown {
    padding-top: 1.6rem;
  }
  .header.fix_top .header_nav .header_nav_dropdown:before {
    top: 8px;
  }
  .header.header_base {
    background: #064051;
  }
  .header.header_base .header_nav {
    padding-top: 1.5rem;
  }
  .header.header_base .header_nav .header_nav_dropdown {
    padding-top: 2.6rem;
  }
  .header.header_base .header_nav .header_nav_dropdown:before {
    top: 18px;
  }
  .header.header_base.fix_top .header_nav {
    padding-top: 0.5rem;
  }
  .header.header_base.fix_top .header_nav .header_nav_dropdown {
    padding-top: 1.6rem;
  }
  .header.header_base.fix_top .header_nav .header_nav_dropdown:before {
    top: 8px;
  }
}

.top {
  color: #fff;
  z-index: 1;
  position: relative;
  min-height: 250px;
  padding-top: 105px;
  padding-bottom: 55px;
  background: url("../img/services-hero3.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.top:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  bottom: -100%;
}
.top .top_content {
  max-width: 700px;
}
.top h1 {
  color: #fff;
  font-size: 1.85rem;
}
.top p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .top {
    min-height: 375px;
    padding-top: 130px;
  }
  .top h1 {
    font-size: 5rem;
    margin-bottom: 1.2rem;
  }
  .top p {
    font-size: 2rem;
  }
}

.footer {
  color: #cdd6d9;
  background: #043340;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.footer .footer_logo {
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 4rem auto;
}
.footer .footer_logo .footer_logo_image {
  width: 75px;
  margin: 0 auto 1.5rem auto;
}
.footer .footer_logo .footer_logo_text {
  color: #4a7d90;
  font-size: 1.3rem;
  line-height: 2rem;
}
.footer .footer_nav ul {
  margin: 0 auto;
  padding: 0;
  max-width: 210px;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.footer .footer_nav ul > li {
  margin-bottom: 1rem;
}
.footer .footer_nav ul > li > a {
  color: #cdd6d9;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer_nav ul > li > a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer_contact {
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer .footer_contact p {
  margin-bottom: 1.5rem;
}
.footer .footer_contact ul {
  margin: -0.5rem 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
}
.footer .footer_contact ul > li {
  display: inline-block;
}
.footer .footer_contact ul > li a {
  color: #cdd6d9;
  padding: 0 0.4rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer_contact ul > li a:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 576px) {
  .footer {
    padding-bottom: 3.5rem;
  }
  .footer .footer_logo {
    margin-bottom: 0;
  }
  .footer .footer_nav {
    border-right: 1px solid #607980;
  }
  .footer .footer_nav > ul {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .footer .footer_contact {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: 5% !important;
  }
  .footer .footer_contact p {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-top: 6rem;
    padding-bottom: 4.5rem;
  }
}

.footer_bottom {
  color: #cdd6d9;
  padding: 2.8rem 0;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  background: #032b36;
}
@media (min-width: 576px) {
  .footer_bottom {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page.page_base {
  padding-top: 55px;
}
.page .main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .page.page_base {
    padding-top: 85px;
  }
}

.main {
  z-index: 10;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
@media (min-width: 768px) {
  .main {
    padding-top: 5rem;
  }
}

.service {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
.service:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.service h2 {
  padding-top: 3rem;
}
.service p {
  margin-bottom: 1.6rem;
}
@media (min-width: 992px) {
  .service {
    margin-bottom: 4.8rem;
    padding-bottom: 4.8rem;
  }
  .service h2 {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .service h2 {
    padding-top: 3rem;
  }
}

.form_block {
  margin: 0 auto;
  max-width: 400px;
  padding-top: 4rem;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*# sourceMappingURL=main.css.map */
