.container {

	@media (min-width: $screen-xl-min) {
		max-width: 1300px;
	}
}


.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&.page_base {
		padding-top: 55px;
	}

	.main {
		@include flex-grow(1);
	}


	@media (min-width: $screen-md-min) {

		&.page_base {
			padding-top: 85px;
		}
	}
}


.main {
	z-index: 10;
	padding-top: 4rem;
	padding-bottom: 4rem;
	position: relative;

	@media (min-width: $screen-md-min) {
		padding-top: 5rem;
	}
}

.service {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #eee;

	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}

	h2 {
		padding-top: 3rem;
	}

	p {
		margin-bottom: 1.6rem;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 4.8rem;
		padding-bottom: 4.8rem;

		h2 {
			padding-top: 0;
		}
	}

	@media (min-width: $screen-xl-min) {

		h2 {
			padding-top: 3rem;
		}
	}
}



.form_block {
	margin: 0 auto;
	max-width: 400px;
	padding-top: 4rem;
}


@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
