.footer {
	color: #cdd6d9;
	background: #043340;
	padding-top: 2.5rem;
	padding-bottom: 2rem;

	.footer_logo {
		width: 100px;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0 auto 4rem auto;

		.footer_logo_image {
			width: 75px;
			margin: 0 auto 1.5rem auto;
		}

		.footer_logo_text {
			color: #4a7d90;
			font-size: 1.3rem;
			line-height: 2rem;
		}
	}

	.footer_nav {

		ul {
			margin: 0 auto;
			padding: 0;
			max-width: 210px;
			list-style: none;
			font-size: 1.4rem;
			line-height: 1.8rem;

			> li {
				margin-bottom: 1rem;

				> a {
					color: #cdd6d9;
					text-decoration: none;
					@include transition(.3s);

					&:hover {
						color: #fff;
						text-decoration: none;
						@include transition(.3s);
					}
				}
			}
		}
	}

	.footer_contact {
		font-size: 1.4rem;
		line-height: 2rem;

		p {
			margin-bottom: 1.5rem;
		}

		ul {
			margin: -0.5rem 0 0 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;

			> li {
				display: inline-block;

				a {
					color: #cdd6d9;
					padding: 0 0.4rem;
					font-size: 1.6rem;
					line-height: 1.6rem;
					text-decoration: none;
					display: inline-block;
					@include transition(.3s);

					&:hover {
						color: #fff;
						@include transition(.3s);
					}
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		padding-bottom: 3.5rem;

		.footer_logo {
			margin-bottom: 0;
		}

		.footer_nav {
			border-right: 1px solid #607980;

			> ul {
				font-size: 1.6rem;
				line-height: 2.2rem;
			}
		}

		.footer_contact {
			font-size: 1.6rem;
			line-height: 2.2rem;
			padding-left: 5% !important;

			p {
				margin-bottom: 2rem;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 6rem;
		padding-bottom: 4.5rem;

	}
}

.footer_bottom {
	color: #cdd6d9;
	padding: 2.8rem 0;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	background: #032b36;

	@media (min-width: $screen-sm-min) {
		font-size: 1.6rem;
	}
}
