
.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	position: fixed;
	background: #064051;

	.header_logo {
		z-index: 10;
		width: 115px;
		display: block;
		margin-left: 15px;
		position: relative;
		padding: 9px 0 8px 0;
	}

	.header_nav {
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;
		height: 100vh;
		overflow-y: auto;
		position: fixed;
		padding: 55px 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(5, 62, 80, .95);
		@include flexbox();
		@include transition(.5s);

		> ul {
			width: 100%;
			margin: auto 0;
			padding: 0;
			list-style: none;
			text-align: center;

			> li {
				position: relative;

				> a {
					color: #fff;
					width: 100%;
					font-weight: 500;
					padding: 1.5rem 0;
					font-size: 2rem;
					line-height: 2rem;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;

					i {
						display: none;
					}
				}
			}
		}

		.header_nav_dropdown {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			> li {

				> a {
					color: #fff;
					width: 100%;
					font-weight: 500;
					padding: 1.5rem 0;
					font-size: 2rem;
					line-height: 2rem;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;
				}
			}
		}

		.nav_desktop_only {
			display: none;
		}
	}

	.header_toggle {
		width: 7rem;
		z-index: 1000;
		height: 5.5rem;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;
		padding: 1.8rem 2.3rem 1.4rem 2.3rem;

		> span {
			opacity: 1;
			height: 3px;
			width: 100%;
			display: block;
			background: #fff;
			margin-bottom: 5px;
			position: relative;
			@include transition(0.3s);

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}

	&.open_nav {

		.header_nav {
			opacity: 1;
			visibility: visible;
			@include transition(.5s);

			> ul {

				> li {

					-webkit-animation-duration: .3s;
					animation-duration: .3s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;

					-webkit-animation-delay: .35s;
					animation-delay: .35s;

					-webkit-animation-name: fadeInUp;
					animation-name: fadeInUp;

					&:nth-child(1) {
						-webkit-animation-delay: .15s;
						animation-delay: .15s;
					}

					&:nth-child(2) {
						-webkit-animation-delay: .25s;
						animation-delay: .25s;
					}

					&:nth-child(3) {
						-webkit-animation-delay: .35s;
						animation-delay: .35s;
					}

					&:nth-child(4) {
						-webkit-animation-delay: .45s;
						animation-delay: .45s;
					}

					&:nth-child(5) {
						-webkit-animation-delay: .55s;
						animation-delay: .55s;
					}

					&:nth-child(6) {
						-webkit-animation-delay: .65s;
						animation-delay: .65s;
					}
				}
			}
		}

		.header_toggle {

			> span {
				@include transition(0.3s);

				&:nth-child(1) {
					top: 4px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: -4px;
					@include rotate(-45deg);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		background: transparent;
		height: auto;

		.header_logo {
			width: 175px;
			height: 85px;
			padding: 14px 0 13px 0;
			@include transition(.3s);
		}

		.header_nav {
			padding: 3.1rem 0 0 0;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			opacity: 1;
			display: block;
			visibility: visible;
			overflow: inherit;
			position: relative;
			background: transparent;
			@include transition(.3s);

			> ul {
				@include flexbox();

				> li {

					> a {
						width: auto;
						font-size: 1.5rem;
						line-height: 2rem;
						padding: 1.7rem 1.4rem;

						i {
							margin-left: 0.7rem;
							display: inline-block;
						}

						&:hover {
							color: $color-green;
						}
					}

					&.active {

						> a {
							color: $color-green;
						}
					}

					&:hover {

						> a {
							color: $color-green;
						}

						.header_nav_dropdown {
							opacity: 1;
							visibility: visible;
							@include transition(.4s);
						}
					}
				}
			}

			.header_nav_dropdown {
				left: 50%;
				margin-left: -60px;
				right: auto;
				display: block;
				top: 100%;
				width: 120px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				background: transparent;
				@include transition(.4s);

				&:before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid rgba(5,62,80,.9);
					left: 50px;
					top: -8px;
				}

				> li {
					background: rgba(5,62,80,.9);

					> a {
						width: 100%;
						text-align: left;
						font-size: 1.5rem;
						line-height: 2rem;
						padding: 0.8rem 1.5rem;

						&:hover {
							color: $color-green;
						}
					}

					&.active {

						> a {
							color: $color-green;
						}
					}

					&:first-child {

						> a {
							padding-top: 1rem;
						}
					}

					&:last-child {

						> a {
							padding-bottom: 1rem;
						}
					}
				}
			}

			.nav_desktop_only {
				display: block;
			}
		}

		.header_toggle {
			display: none;
		}

		&.fix_top {
			background-color: rgba(5, 62, 80, 0.9);

			.header_logo {
				width: 125px;
				height: 65px;
				@include transition(.3s);
			}

			.header_nav {
				padding-top: 0.5rem;
				@include transition(.3s);

				> ul {

					> li {

						> a {
						}
					}
				}

				.header_nav_dropdown {
					padding-top: 1.6rem;

					&:before {
						top: 8px;
					}
				}
			}
		}

		&.header_base {
			background: #064051;

			.header_nav {
				padding-top: 1.5rem;

				.header_nav_dropdown {
					padding-top: 2.6rem;

					&:before {
						top: 18px;
					}
				}
			}

			&.fix_top {

				.header_nav {
					padding-top: 0.5rem;

					.header_nav_dropdown {
						padding-top: 1.6rem;

						&:before {
							top: 8px;
						}
					}
				}
			}
		}
	}
}

.top {
	color: #fff;
	z-index: 1;
	position: relative;
	min-height: 250px;
	padding-top: 105px;
	padding-bottom: 55px;
	background: url("../img/services-hero3.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		position: absolute;
		content: '';
		display: block;
		background-color: #fff;
		width: 100%;
		height: 100%;
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		bottom: -100%;
	}

	.top_content {
		max-width: 700px;
	}

	h1 {
		color: #fff;
		font-size: 1.85rem;
	}

	p {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 1.2;
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		min-height: 375px;
		padding-top: 130px;

		h1 {
			font-size: 5rem;
			margin-bottom: 1.2rem;
		}

		p {
			font-size: 2rem;
		}
	}
}