* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1, .h1 {
	color: $color-blue;
	font-weight: 500;
	font-size: 2.4rem;
	margin-bottom: 1rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 4rem;
	}
}

h2, .h2 {
	font-weight: 500;
	font-size: 	2rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	color: $color-blue;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 2.8rem;
	}
}

h3, .h3 {
	font-size: 2.4rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
	font-family: $font-family-head;
}



// Links

a {
	outline: none;
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}