// Color system

$color-white:               #fff !default;
$color-black:               #000 !default;
$color-gray:                #2D2926 !default;
$color-green:               #c4d836 !default;
$color-blue:                #0c7c9d !default;

$color-base:                $color-gray;

// Fonts

$font-family-base:          'Open Sans', Arial, sans-serif !default;
$font-family-head:          'Open Sans', Arial, sans-serif !default;

$font-size-reset:           10px;

$font-size-base:            1.6rem !default;
$font-size-lg:              ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;

$font-weight-base:          $font-weight-normal !default;
$line-height-base:          1.5625 !default;


// Links

$link-color:                $color-green !default;
$link-decoration:           none !default;
$link-hover-color:          $color-green !default;
$link-hover-decoration:     underline !default;


// Page

$body-bg:                   $color-white !default;
$body-color:                $color-gray !default;


// Grid
$grid-columns: 12 !default; // Set number of columns in the grid


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1200px !default;


$screen-xs-max:              ($screen-sm-min - 0.1) !default;
$screen-sm-max:              ($screen-md-min - 0.1) !default;
$screen-md-max:              ($screen-lg-min - 0.1) !default;
$screen-lg-max:              ($screen-xl-min - 0.1) !default;


$container-sm:               540px;
$container-md:               720px;
$container-lg:               960px;
$container-xl:               1300px;


