
.btn_main {
	color: #fff;
	outline: none;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
	cursor: pointer;
	padding: 1.4rem 1.6rem;
	background-color: #0e96be;
	@include border-radius(0.5rem);
	@include transition(.3s);

	i {
		margin-left: 0.5rem;
	}

	&:hover {
		color: #fff;
		background-color: #237d97;
		@include transition(.3s);
		@include box-shadow(none);
	}

	&:focus {
		outline: navajowhite;
		@include box-shadow(none);
	}

	&:active {
		background-color: #50a9c3;
		@include box-shadow(none);
	}
}