.form-control {
	height: 4rem;
	outline: none;
	color: #0a0a0a;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 0.9rem 0.8rem;
	background-color: #fefefe;
	border: 1px solid #cacaca;
	@include border-radius(0.4rem);
	@include transition(.3s);

	&:focus {
		outline: none;
		border-color: $color-blue;
		@include box-shadow(none);
		@include transition(.3s);
	}
}

.form-label {
	display: block;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	margin: 0 0 0.4rem 0;
	color: #888;
}


.form-group {
	margin-bottom: 1.5rem;
}

.form-check {
	padding-left: 2rem;

	.form-check-input {
		top: 0.4rem;
		margin-left: -2rem;

	}
}
